main {
    background-color: #FFA500;
    background-image: linear-gradient(to bottom right, #FF7F50, #FF4500);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-title{
    color: white;
    text-align: center;
}
#cards-request .card {
    margin: 0 100px; /* Adjust this value for the desired spacing */
}
.card {
    cursor: pointer;
    max-width: 18rem;
}