{% extends 'base.html' %}
{% block content %}
<style>
    #chat-list {
        margin-left: -5%!important;
    }
    #container-chats {
        list-style: none;
        width: 25vw;
        overflow: auto;
        overflow-x: hidden;
    }
    #container-chats > li {
        padding-left: 5%;
        margin: 2% 0 2% 0;
        border: 1px solid black;
        border-radius: 34px;
        cursor: pointer;
    }
    #chat-container {
        border: 1px solid #ccc;
        padding: 10px;
        height: 70vh;
        min-height: 300px; /* Adjust the height as needed */
    }
</style>
<h1>Sistema de chat</h1>

<div class="container mt-1" id="main-container">
    <div class="row">
        <div class="col" id="chat-list">
            <ul id="container-chats">
                {% for chat in chats %}
                <li class="open-chat" data-chat-id="{{ chat.id_chat }}">
                    <h3>Chat:{{ chat.id_chat }}</h3>
                    <p>Last update: {{chat.last_update}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    const openChats = document.querySelectorAll('.open-chat');
    openChats.forEach(openChat => {
        openChat.addEventListener('click', function(event) {
            // Prevent the default behavior of the link (optional)
            event.preventDefault();

            // Retrieve the chat ID from the "data-chat-id" attribute
            const chatId = openChat.getAttribute('data-chat-id');

            // Dynamically load the content from "conversation.html" using AJAX
            // For simplicity, we'll use a placeholder message
            const currentUrl = window.location.href;
            const newUrl = `${currentUrl}conversation/${chatId}`;
            window.location.href = newUrl;
        });
    });
</script>
{% endblock content %}
