<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'my_request.css' %}">
    <title>BRING-U</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container d-flex">
                <a class="navbar-brand pr-4 logo" href="/"><img src="/media/logo.png" alt="" height="48px"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse mr-auto" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-auto" >
                            <a class="nav-link" href="/" style="color: white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: white">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/chat" style="color: white">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/request" style="color: white"> Request</a>
                            <!--<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/business">Business</a>
                            <a class="dropdown-item" href="#">Carpooling</a>
                            </div>-->
                        </li>
                        {% if is_delivering %}
                            <li class="nav-item">
                                <a class="nav-link" href="/available_orders">Take orders</a>
                            </li>
                        {% endif %}
                      {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/profile" style="color: white">Profile</a>
                        </li>
                      {% endif %}
                        <div class="navbar-nav ms-auto">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logoutaccount' %}">
                                Logout ({{ user.username }})
                            </a>
                            {% else %}
                            <a class="nav-link" href="{% url 'loginaccount' %}" style="color: white">Login</a>
                            <a class="nav-link" href="{% url 'signup' %}" style="color: white">
                                Sign Up
                            </a>
                            {% endif %}
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Your footer content here -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>
