<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Bring-u</title>
</head>
<body style="overflow-x: hidden;">
    {% extends "base.html" %}
    {% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>{{ business.name }}</h1>
                <p>Rating ★</p>
                <p>{{ business.desc }}</p>
                <h2>Horario de Atención:</h2>
                <p>Apertura: {{ business.opening_time }}</p>
                <p>Cierre: {{ business.closing_time }}</p>
            </div> 
            <div class="col-8">
                <h2>Menú:</h2>
                <ul style="list-style: none; height: 80vh; width: 100vw; overflow: auto; overflow-x: hidden;">
                    {% for product in products %}
                        <li>
                            <div class="row">
                                <div class="col">
                                    <strong>{{ product.name }}</strong><br>
                                    Descripción: {{ product.desc }}<br>
                                    Precio: {{ product.price }}
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">Ordenar</button>
                                </div>
                            </div>
                        </li>
                        <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
