{% extends "base.html" %}
{% block content %}

<body style="overflow-x: hidden;">
    <script>

        // Mostrar en el Modal la información del producto 

        function sendOrder(button) {
            // Extract product details from data attributes
            const productId = button.getAttribute('data-product-id');
            const productName = button.getAttribute('data-product-name');
            const productDesc = button.getAttribute('data-product-desc');
            const productPrice = button.getAttribute('data-product-price');
            const businessName = button.getAttribute('data-business-name');
            

            // Set the product details in the modal
            document.getElementById('productName').textContent = productName;
            document.getElementById('productDesc').textContent = productDesc;
            document.getElementById('productPrice').textContent = productPrice;
            document.getElementById('businessName').textContent = businessName;
        
            // Set the product details in form to send
            document.getElementById('send_product_id').value = productId;
            document.getElementById('send_product_name').value = productName;
            document.getElementById('send_product_desc').value = productDesc;
            document.getElementById('send_product_price').value = productPrice;
            document.getElementById('send_business_name').value = businessName;

        }
    </script>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem;
            height: 100%;
            width: 250px;
            position: fixed;
            top: 74px;
            left: 0;
            background-color: #F0592C;
            padding-top: 20px;
            z-index: 1;
        }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #f1f1f1;
            display: block;
        }

        .content {
            margin-left: 250px;
            padding: 16px;
        }

        .menu-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .menu-item {
            width: 80%;
        }

        .item-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }


        
    
    </style>

    <div class="sidebar">
        <h1 style="color: #f1f1f1; text-align: center;">{{ business.name }}</h1>
        <img src="{{ business.image.url }}" style="width: 150px; height: auto;" alt="">
        <p style="color: #f1f1f1; text-align: center;">★★★★</p>
        <p style="color: #f1f1f1;">{{ business.desc }}</p>
        <div>
            <h2 style="color: #f1f1f1;">Horario de Atención:</h2>
            <p style="color: #f1f1f1;">Apertura: {{ business.opening_time }}</p>
            <p style="color: #f1f1f1;">Cierre: {{ business.closing_time }}</p>
        </div>
    </div>

    <div class="content">
        <div>
            <h2>Menú:</h2>
            <ul class="menu-container" style="list-style: none;">
                {% for product in products %}
                <li class="menu-item">
                    <div class="border border-success p-2 mb-2 border-opacity-25" >

                        <div class="item-flex">
                        
                            <div class="product">
                                <strong>{{ product.name }}</strong><br>
                                Descripción: {{ product.desc }}<br>
                                Precio: {{ product.price }}
                            </div>

                            <div>
                                <button class="btn btn-primary btn-ordenar" type="button"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                data-product-id="{{ product.id_product }}"
                                data-product-name="{{ product.name }}"
                                data-product-desc="{{ product.desc }}"
                                data-product-price="{{ product.price }}"
                                data-business-name="{{ business.name }}"
                                onclick="sendOrder(this)">
                                    Ordenar
                                </button>
    
                                <!-- Modal -->
                                <!-- CONFIRM ORDER -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">CONFIRMACION DE ORDEN</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <p><strong>Negocio: </strong><span id="businessName"></span></p>
                                        <p><strong>Producto: </strong><span id="productName"></span></p>
                                        <p><strong>Descripción: </strong><span id="productDesc"></span></p>
                                        <p><strong>Precio: </strong><span id="productPrice"></span></p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Confirmar</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!-- SEND ORDER -->
                                <div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">DETALLES ENTREGA</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <!-- DELIVERY FORM -->
                                          <form class="row g-3" method="POST" id="deliveryForm" action="/business">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="delivery_location" class="form-label"><strong> Lugar entrega:</strong></label>
                                                    <input type="text" class="form-control" id="delivery_location" name="delivery_location" placeholder="Ejemplo: Bloque 33, salon 302" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="desc_delivery" class="form-label"><strong>Detalles sobre la entrega:</strong></label>
                                                    <input type="text" class="form-control" id="desc_delivery" name="desc_delivery" placeholder="Ejemplo: Esperarme afuera del salon" required>
                                                </div>
                                                <input type="hidden" value="" name="business_name" id="send_business_name">
                                                <input type="hidden" value="" name="product_id" id="send_product_id">
                                                <input type="hidden" value="" name="product_name" id="send_product_name">
                                                <input type="hidden" value="" name="product_desc" id="send_product_desc">
                                                <input type="hidden" value="" name="product_price" id="send_product_price">
                                                <button type="submit" class="btn btn-primary">Pedir</button>
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
{% endblock %}