{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/business.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center text-white font-italic">Explorar restaurantes</h1>

<div class="business-container">
  {% for business in businesses %}
  <div class="column">
    <div class="card" onclick="redirectToLink('/business/{{business.id_business}}')">
      <img src="{{ business.image.url }}" class="card-img-top" alt="{{ business.name }}">
      <div class="card-body">
        <h5 class="card-title text-center">{{business.name}}</h5>
        <p class="card-text text-center">{{business.desc}}</p>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">★★★★★</li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

<script>
    function redirectToLink(url) {
        window.location.href = url;
    }
</script>
{% endblock %}