<style>
      /*.navbar-brand {
          margin-right: 60vw!important; 
      }*/
      #restaurant-list {
        margin-left: 5vw;
      }

      .img-fluid{
        width: 110px!important;
      }
      #searchReference {
        width: 100vw;
        text-align: center;
      }
      #clickable-container {
        cursor: pointer;
      }
</style>
 
<body>
  {% extends "base.html" %}
  {% block content %}
    <h2 id="restaurant-list">Lista de negocios disponibles</h2>
    <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <form class="d-flex" action="">
                  <input class="form-control me-2" name="searchBusiness" type="text"  placeholder="Buscar un negocio" aria-label="Search">
                  <button class="btn btn-primary" type="submit">Buscar</button>
                </form>
              </div>
            </div>
      </div>
      <div id="searchReference">
        <p>Searching for {{ searchBusiness }}</p>
      </div>
        {% for business in businesses %}
        <div class="container mt-5" id="clickable-container" onclick="redirectToLink('{{business.id_business}}')">
          <div class="row">
              <div class="col-md-2">
                  <img src="media\bigos_logo.png" alt="Image" class="img-fluid">
              </div>
              <div class="col-md-8">
                  <ul class="list-group">
                      <li class="list-group-item font-weight-bold">{{business.name}}</li>
                      <li class="list-group-item">{{business.desc}}</li>
                      <li class="list-group-item">Rating ★</li>
                  </ul>
              </div>
          </div>
      </div>
      {%endfor%}
    </div>
    <script>
      function redirectToLink(url) {
          window.location.href = '/business/'+url;
      }
    </script>
 {% endblock %}
</body>
