{% extends "base.html" %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <title>BRING-U</title>
</head>
<body>
  {% block content %}
  <div class="container mt-5">
      <h1 class="bringu">BRING-U homepage</h1>
  </div>
  <br>
  <br>
  <div class="barra-de-busqueda">
      <div class="col-md-6">
          <form class="d-flex" action="">
              <input class="form-control me-2" name="searchBusiness" type="text"  placeholder="Buscar" aria-label="Search">
              <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
          </div>
        </div>
  </div>
  <br>
  <br>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
        <a href="{% url 'business_detail' id_business=4 %}">
          <img src="../../media/promfrisby.jpg" class="img-carousel" alt="Promo Frisby">
        </a>
        </div>
        <div class="carousel-item">
          <a href="{% url 'business_detail' id_business=6 %}">
          <img src="media\zyro-image.jpg" class="img-carousel" alt="Promo Juan Valdez">
          </a>
        </div>
        <div class="carousel-item">   
        <a href="{% url 'business_detail' id_business=5 %}">
            <img src="../../media/Dunkindonuts.jpg" class="img-carousel" alt="Promo Dunkin Donuts">
        </a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>

  <div class="servicios-container" style="padding-left: 10vw;">
    <a href="/my_request">
      <img class="imagenservicio" src="media\CustomOrder.png" alt="Imagen">
    </a>
   
    <a href="/business"> 
      <img class="imagenservicio" src="media\Business.png" alt="Imagen">
    </a>
  </div>
  
  <div class="cards-container">
    <div class="card1">
      <a href="{% url 'business_detail' id_business=3 %}">
        <img src="media\zyro-image1.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">#UneteATuCombo</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
      <!--<div class="card-body">
        <a href="#" class="card-link">Ver Más...</a>
      </div>-->
    </div>
  
    <div class="card2">
      <a href="{% url 'business_detail' id_business=4 %}">
        <img src="media\dfbbd-editable-27-03.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Comparte en casa</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <!--<div class="card-body">
        <a href="#" class="card-link">Ver Más...</a>
      </div>-->
    </div>
  
    <div class="card3">
      <a href="{% url 'business_detail' id_business=5 %}">
        <img src="media\RavxkYrKkHGBCYJ4b-x-750.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Paga 6 lleva 12</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
      <!--<div class="card-body">
        <a href="#" class="card-link">Ver Más...</a>
      </div>-->
    </div>
  </div>
  {% endblock %}
</body>
