<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>BRING-U</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
      <div class="container mt-5">
        <h1>Perfil </h1>
        <h2>Órdenes en curso</h2>
        <p>Orden, estado (sin tomar, en proceso, completado), cancelar orden</p>
        <h2>Historial de ordenes</h2>
    </div>

    {% endblock %}
</body>
</html>
