
<style>
        #cards-request .card {
            margin: 0 100px; /* Adjust this value for the desired spacing */
        }
        .card {
            cursor: pointer;
        }
</style>

<body>
    {% extends "base.html" %}
    {% block content %}
        <div class="container mt-5">
            <h1 style="text-align: center;">Solicitud </h1>
            <div class="d-flex justify-content-between align-items-center" id="cards-request">
                <div class="card text-white bg-info mb-3" onclick="redirectToLink('/my_request')"  style="max-width: 18rem;">
                    <div class="card-header" style="text-align: center;">PERSONALIZADA</div>
                    <div class="card-body">
                        <h5 class="card-title">Formulario :</h5>
                        <p class="card-text">Ingrese petición, nombre, descripción, precio, lugar de entrega</p>
                    </div>
                </div>
                <div class="card text-white bg-info mb-3" onclick="redirectToLink('/business')" style="max-width: 18rem;">
                    <div class="card-header" style="text-align: center;">NEGOCIOS</div>
                    <div class="card-body">
                        <h5 class="card-title">Redirigir a negocios:</h5>
                        <p class="card-text">Mostrar negocios dentro de la universidad, como restaurantes y papelerías</p>
                    </div>
                </div>
            </div>            
        </div>

        <script>
            function redirectToLink(url) {
                window.location.href = url;
            }
          </script>
    {% endblock %}
    </body>
</html>
