<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurant.name }}</title>
</head>
<body>
    <h1>{{ restaurant.name }}</h1>
    <p>{{ restaurant.description }}</p>
    <h2>Horario de Atención:</h2>
    <p>Apertura: {{ restaurant.opening_time }}</p>
    <p>Cierre: {{ restaurant.closing_time }}</p>
    
    <h2>Menú:</h2>
    <ul>
        {% for item in menu_items %}
            <li>
                <strong>{{ item.dish_name }}</strong><br>
                Descripción: {{ item.dish_description }}<br>
                Precio: {{ item.price }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
