{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login/login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <h5 class="login-title">Login</h5>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST" class="login-form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}