{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login/signup.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="signup-container">
        <h5 class="signup-title">Sign Up</h5>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form action="{% url 'signup' %}" method="POST" class="signup-form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="/" class="card-link">Inicio</a>
        </form>
    </div>
</main>
{% endblock %}