{% extends 'base.html' %}
{% block content %}

<style>
    
    .card-title {

        display: inline-block;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }
    .card-body{
        width: fit-content;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-image: url(../../media/signinbackground.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        
    }

    .card-text {
        width: fit-content;
    }

    .cont{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    

    .transparencia{
        opacity: 0.5;
    }

</style>

<div class="card mb-3">
    <div class="row g-0">
        <div class="card-body">
            <div>
                <div class="cont">
                    <h5 class="card-title" style="color: white; text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;" >Sign Up</h5>
                    {% if error %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}               
                    <p class="card-text">
                        <div class="cont">
                            <h5 class="card-title" style="color: white; text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;" >Complete todos los campos</h5>
                            <form action="{% url 'signup' %}" method="POST" class="needs-validation" style="color: white; text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;">
                                {% csrf_token %}
                                
                                {{ form.as_p }}
                                <a href="/" class="card-link">Inicio</a>
                                <button type="submit" class="btn btn-primary float-end">Sign Up</button>
                            </form> 
                        </div>                       
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}