
.btncustomorder {
    position: relative;
    overflow: hidden;
}

.button-content {
    position: relative;
}


.btncustomorder:hover .button-text {
    background-color: rgba(0, 0, 0, 0.7); /* Cambiar el color de fondo al pasar el mouse si lo deseas */
}

.carousel{
    display:flex;
    overflow: hidden;
    margin: 0 auto;
}

.barra-de-busqueda{
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.col-md-6{
    display: inline-block;
    width:50%;
}

.servicios-container{
    display: flex;
    justify-content: left;
    gap: 4rem;
    margin-left: 2rem;
    padding: 2rem 0;
}

.imagenservicio{
    width: 400px; /* Tamaño fijo en píxeles */
    max-width:40vw
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}


.img-carousel{
    width: 100%; /* Tamaño fijo en píxeles */
    height: 320px;
}

.card1, .card2, .card3 {
    width: 30vw;
}

.card-img-top {
    width: 100%;
}
