*{
    font-family: 'Franklin Gothic';
}
.imagen{
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    margin: 0; /* Elimina cualquier margen para evitar espacios */
}
