{% extends "base.html" %}

{% block content %}

<style>
    .page {
        margin: 1em auto;
        max-width: 768px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }

    .box {
        padding: 0.5em;
        width: 100%;
        margin: 0.5em;
    }

    .box-2 {
        padding: 0.5em;
        width: calc(100%/2 - 1em);
    }

    .options label,
    .options input {
        width: 4em;
        padding: 0.5em 1em;
    }

    .btn {
        background: white;
        color: black;
        border: 1px solid black;
        padding: 0.5em 1em;
        text-decoration: none;
        margin: 0.8em 0.3em;
        display: inline-block;
        cursor: pointer;
    }

    .hide {
        display: none;
    }

    img {
        max-width: 100%;
    }
</style>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // vars
        let result = document.querySelector('.result'),
            img_result = document.querySelector('.img-result'),
            img_w = document.querySelector('.img-w'),
            img_h = document.querySelector('.img-h'),
            options = document.querySelector('.options'),
            save = document.querySelector('.save'),
            cropped = document.querySelector('.cropped'),
            dwn = document.querySelector('.download'),
            upload = document.querySelector('#file-input'),
            cropper = '';

        // on change show image with crop options
        upload.addEventListener('change', e => {
            if (e.target.files.length) {
                // start file reader
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        // create new image
                        let img = document.createElement('img');
                        img.id = 'image';
                        img.src = e.target.result;
                        // clean result before
                        result.innerHTML = '';
                        // append new image
                        result.appendChild(img);
                        // show save btn and options
                        save.classList.remove('hide');
                        options.classList.remove('hide');
                        // init cropper
                        cropper = new Cropper(img);
                    }
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        });

        // save on click
        save.addEventListener('click', e => {
            e.preventDefault();
            // get result to data URI
            let imgSrc = cropper.getCroppedCanvas({
                width: img_w.value // input value
            }).toDataURL();
            // remove hide class of img
            cropped.classList.remove('hide');
            img_result.classList.remove('hide');
            // show image cropped
            cropped.src = imgSrc;
            dwn.classList.remove('hide');
            dwn.download = 'cropresult.png';
            dwn.setAttribute('href', imgSrc);

            // Set the image data as the value of the hidden input field
            document.getElementById('image-data').value = imgSrc;

            // Submit the form
            const form = document.querySelector('#crop-form');
            form.submit();
        });
    });
</script>
</head>

<body>
    <main class="page">
        <h2>Sube la foto del menu de tu restaurante!</h2>
        <div class="box">
            <form action="" method="POST" id="crop-form">
                {% csrf_token %}
                <input type="file" id="file-input">
                <input type="hidden" id="image-data" name="image-data">
            </form>
        </div>
        <div class="box-2">
            <div class="result"></div>
        </div>
        <div class="box-2 img-result hide">
            <img class="cropped" src="" alt="">
        </div>
        <div class="box">
            <div class="options hide">
                <label> Width</label>
                <input type="number" class="img-w" value="1280" min="320" max="1920" />
            </div>
            <button class="btn save hide">Save</button>
            <a href="" class="btn download hide">Download</a>
        </div>

        <!--<div class="result-table">
            <form method="post" action="">
                {% csrf_token %}
                <select name="selected_business">
                    {% for business in businesses %}
                        <option value="{{ business.id }}">{{ business.name }}</option>
                    {% endfor %}
                </select>
                <table border="1">
                    <tr>
                        <th>Nombre producto</th>
                        <th>Precio producto</th>
                        <th>Descripción producto</th>
                    </tr>
                    {% for item in data_list %}
                        <tr>
                            <td><input type="text" name="nombre[]" value="{{ item }}" /></td>
                            <td><input type="text" name="precio[]" /></td>
                            <td><input type="text" name="descripcion[]" /></td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Guardar">
            </form>
        </div>
        <form id="save-products" method="post" action="">
            {% csrf_token %}
            <select name="selected_business">
                {% for business in businesses %}
                    <option value="{{ business.id }}">{{ business.name }}</option>
                {% endfor %}
            </select>
            <label for="selected_business">Negocio del producto a registrar: </label>
            <div id="product-container">
                {% for item in data_list %}
                    <div class="product-item">
                        <div class="product-name"></div>
                        <div class="product-price"></div>
                        <div class="product-desc"></div>
                    </div>
                {% endfor %}
                <button type="button" id="add-product-button" class="btn btn-primary">Agregar producto manualmente</button>
            </div>
            <button type="submit" class="btn btn-success">Guardar productos (Añadir confirmación)</button>
        </form>-->
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="method" value="SAVE_PRODUCTS">
            <label for="selected_business">Negocio del producto a registrar: </label>

            <select name="selected_business_id">
                {% for business in businesses %}
                    <option value="{{ business.id_business }}">{{ business.name }}</option>
                {% endfor %}
            </select>

            <table class="table">
                <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody id="table-items">
            {% for product in data_list %}
                <tr>
                    <td><input type="text" name="item_name[]" value="{{ product.0 }}"></td>
                    <td><input type="number" name="item_price[]" value="{% if product|length > 1 %}{{ product.1 }}{% endif %}"></td>
                    <td><textarea name="item_desc[]">{% if product|length > 2 %}{{ product.2 }}{% endif %}</textarea></td>
                    <td><button type="button" class="btn btn-danger bg-danger" onclick="remove(this)">-</button></td>
                </tr>
            {% endfor %}
            
            </tbody>
          </table>
          <button type="button" id="add-product-button" class="btn btn-primary bg-primary">Agregar producto manualmente</button>
          <button type="submit" class="btn btn-success bg-success">Guardar productos (Añadir confirmación)</button>
        </form>
        <div id="output">
            <h3>Salida en bruto de la IA:</h3>
            <p>{{ data_list }}</p>
        </div>
    </main>

    <script>
        product_container = document.getElementById('table-items');
        add_product_button = document.getElementById('add-product-button');
        add_product_button.addEventListener('click', appendProduct);

        function appendProduct() {
            let new_product = document.createElement("tr");

            let new_product_name = document.createElement("td");
            let name_input = document.createElement("input");
            name_input.setAttribute("type", "text");
            name_input.setAttribute("name", "item_name[]"); 
            new_product_name.appendChild(name_input);

            let new_product_price = document.createElement("td");
            let price_input = document.createElement("input");
            price_input.setAttribute("type", "number");
            price_input.setAttribute("name", "item_price[]"); 
            new_product_price.appendChild(price_input);

            let new_product_desc = document.createElement("td");
            let desc_input = document.createElement("textarea");
            desc_input.setAttribute("name", "item_desc[]"); 
            new_product_desc.appendChild(desc_input);

            let removeButton = document.createElement("button");
            removeButton.textContent = "-";
            removeButton.setAttribute("type", "button");
            removeButton.classList.add("btn", "btn-danger", "bg-danger");
            removeButton.addEventListener("click", function() {
                new_product.parentElement.removeChild(new_product);
            });
            new_product.appendChild(removeButton);

            new_product.appendChild(new_product_name);
            new_product.appendChild(new_product_price);
            new_product.appendChild(new_product_desc);
            new_product.appendChild(removeButton);

            product_container.appendChild(new_product);
        }


        function remove(clickedButton){
            var row = clickedButton.parentElement.parentElement; // Get the parent of the parent of the clicked button
            row.parentNode.removeChild(row); // Remove the parent of the parent from its parent node
        }
    </script>
    {% endblock %}